MATH=WolframKernel

FR_DIR="$PWD/FeynRules"
FR_FILE="MSSM.fr"
FR_NAME_MINE="MSSM"
TMP_FILE="MSSM.tmp"

INIT="
  SetDirectory[\"$PWD\"];
  \$FeynRulesPath=\"$FR_DIR\";
  <<FeynRules\`;
  LoadModel[\"$FR_FILE\"];
"

ask_yn () {
  echo $1 [y/N]
  read ANSWER
  case $ANSWER in
  [Yy]* ) return 1;;
  * ) return 0;;
  esac
}

generate_lagrangian_file(){
  if [ -f $TMP_FILE ]; then
    ask_yn "Temporary output of Lagrangian exists. Regenerate it?"
    if [ $? == 1 ]; then
      rm -rf $TMP_FILE
    fi
  fi
  if [ ! -f $TMP_FILE ]; then
    $MATH <<_EOC_
$INIT
lagr=Lag;
(*
	WriteRestrictionFile[];
	LoadRestriction["ZeroValues.rst"];
  DeleteFile["ZeroValues.rst"];
*)
LagNoGhNG=lagr/.{ghG[__]->0, ghGbar[__]->0,ghWp->0,ghWpbar->0,ghWmbar->0,ghWm->0,ghZ->0,ghZbar->0,ghA->0,ghAbar->0, G0->0,GP->0,GPbar->0};
{Definition[lagr],Definition[LagNoGhNG]}>>$TMP_FILE
_EOC_
  fi
}

generate_ufo(){
  local MODEL=$1
  $MATH <<_EOC_
$INIT
<<$TMP_FILE;
ReadLHAFile[Input->"$MODEL.dat"];
WriteRestrictionFile[];LoadRestriction["ZeroValues.rst"];DeleteFile["ZeroValues.rst"];
WriteUFO[lagr, Exclude4Scalars->False];
_EOC_
  rm -rf ${FR_NAME_MINE}_${MODEL}_UFO
  rm -rf ZeroValues.rst
  mv MSSM_UFO ${FR_NAME_MINE}_${MODEL}_UFO
}

generate_fa(){
  local MODEL=$1
  $MATH <<_EOC_
$INIT
<<$TMP_FILE;
ReadLHAFile[Input->"$MODEL.dat"];
WriteRestrictionFile[];LoadRestriction["ZeroValues.rst"];DeleteFile["ZeroValues.rst"];
WriteFeynArtsOutput[lagr, Exclude4Scalars->False];
_EOC_
  rm -rf ${FR_NAME_MINE}_${MODEL}_FA
  rm -rf ZeroValues.rst
  mv MSSM_FA ${FR_NAME_MINE}_${MODEL}_FA
}

generate_whizard(){
  local MODEL=$1
  local VERSION=$2
  local VERSION_NUM=`echo $VERSION | sed 's/\.//g'`
  $MATH <<_EOC_
$INIT
<<$TMP_FILE;
ReadLHAFile[Input->"${MODEL}_wo.dat"];
WriteRestrictionFile[];LoadRestriction["ZeroValues.rst"];DeleteFile["ZeroValues.rst"];
WriteWOOutput[lagr, WOGauge->WOUnitarity, WOMaxCouplingsPerFile->5000, WOVerbose->True, WOWhizardVersion->"${VERSION}"];
_EOC_
  rm -rf ${FR_NAME_MINE}_${MODEL}_WO${VERSION_NUM}
  rm -rf ZeroValues.rst
  mv fr_mssm-WO ${FR_NAME_MINE}_${MODEL}_WO${VERSION_NUM}
}
